# --- Airflow ---
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin

# --- MinIO ---
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=data-lake

# --- Metabase ---
MB_ADMIN_EMAIL=admin@example.com

# --- Источник данных (внешний Postgres из проекта 2) ---
SOURCE_DB_HOST=host.docker.internal
SOURCE_DB_PORT=5432
SOURCE_DB_NAME=telemetry
SOURCE_DB_USER=postgres
SOURCE_DB_PASSWORD=postgres
AIRFLOW_FERNET_KEY=changeme_generate_your_own
